<!-- If there are quotes on this page -->
{% if page.quotes %}
<h3>{{ page.quotes_title }}</h3>
{% include quotes-carousel.html %}
{% endif %}

<div id="dashboard" style="display: flex; align-items: center; flex-wrap: wrap;">
  <div style="flex: 0 0 100%;">
    {% if page.lang == "en" %}
      {% include data-1-overview.html %}
    {% else %}
      {% include data-1-overview-fr.html %}
    {% endif %}
  </div>
  <div style="flex: 0 0 100%;">
    {% if page.lang == "en" %}
      {% include data-2-funding.html %}
    {% else %}
      {% include data-2-funding-fr.html %}
    {% endif %}
  </div>
</div>

<div style="text-align: right;">
  {% if page.lang == "en" %}
    <a class="button" href="/en/collaborate#dashboards">
      View More Data &#8594;
    </a>
  {% else %}
    <a class="button" href="/fr/collaborate#dashboards">
      Afficher plus de données &#8594;
    </a>
  {% endif %}
  </a>
</div>