<footer class="footer bg-grey-600 text-white">
  <div class="container">
    <div class="acknowledgement">
      <img src="../assets/brand/logo-white.png" />

      <small class="small">
        A joint project between the <a href="https://pfc.ca/">Philanthropic Foundations of Canada</a>, <a href="https://communityfoundations.ca/">Community Foundations of Canada</a>, <a href="https://environmentfunders.ca/">Environment Funders Canada</a>, and <a href="https://www.the-circle.ca/">The Circle on Philanthropy and Aboriginal Peoples in Canada</a>, with technical and design support provided by <a href="https://www.grantbook.org/">Grantbook</a>.
      </small>
    </div>

    <a href="/participate/" class="button--canary">
      Contribute Your Data
    </a>
  </div>
</footer>