<div class="cta typeset">
  <div class="cta-obj">
    <div class="cta-description text-white">
      <h4 class="text-white"><b>Adapt</b></h4>
      <p>Adapt to this changing situation by learning how other funders have pivoted.</p>
      <a class="button--transparent" href="/adapt/">
        Adapt &#8594;
      </a>
    </div>
    <img src="../assets/img/cta-adapt-bg.png" />
  </div>

  <div class="cta-obj flipped">
    <div class="cta-description text-white">
      <h4 class="text-white"><b>Collaborate</b></h4>
      <p>Collaborate with funders on similar projects to multiply your impact.</p>
      <a class="button--transparent" href="/collaborate/">
        Collaborate &#8594;
      </a>
    </div>
    <img src="../assets/img/cta-collaborate-bg.png" />
  </div>

  <div class="cta-obj">
    <div class="cta-description bg-ruby text-white">
      <h4 class="text-white"><b>Participate</b></h4>
      <p>Participate in this knowledge-sharing project by adding your story to our data.</p>
      <a class="button--transparent" href="/participate/">
        Participate &#8594;
      </a>
    </div>
    <img src="../assets/img/cta-participate-bg.png" />
  </div>
</div>