
<header class="header">
    {% if page.lang_ref == "home" %}
    <div class="navbar--transparent">
    {% else %}
    <div class="navbar">
    {% endif %}
        <div class="container">
            {% include site-logo.html %}

            {% include nav-header.html %}
        </div>
    </div>

    {% assign feature_text = page.feature_text %}
    {% assign feature_image = page.feature_image %}
    {% if page.collectionpage %}
    {% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
    {% assign feature_text = collectiondata.feature_text %}
    {% assign feature_image = collectiondata.feature_image %}
    {% endif %}

    {% if feature_text or feature_image %}
    <!-- Homepage Feature (Hero) -->
    {% if page.lang_ref == "home" %}
        <div class="feature" {% if feature_image %} style="background-image: url({{ feature_image }})"{% endif %}>
        <div class="home-jumbotron container  typeset">
            {{ feature_text | markdownify }}

            <div class="hero-cta">
                <a class="button" href="#covid-19-response-dashboard" aria-label="View the Data Visualizations">
                    {% if page.lang == "en" %}See the Data{% else %}Consulter les données{% endif %} &#8594;
                </a>

                <a class="button--hero" href="/adapt/#five-guiding-principles" aria-label="View the Guiding Principles">
                    {% if page.lang == "en" %}Guiding Principles{% else %}Principes directeurs{% endif %} &#8594;
                </a>
            </div>
        </div>
        </div>

    {% else %}
    <!-- Content Page Feature (Banner with Blue Overlay) -->
        <div class="feature--banner" {% if feature_image %} style="background-image: url({{ feature_image }})"{% endif %}>
        <div class="container   typeset">
            {{ feature_text | markdownify }}
        </div>
        </div>
    {% endif %}

    {% endif %}
</header>