<div class="cta typeset">
  {% for cta in page.cta %}
    <div class="cta-obj {% if cta.flipped %}flipped{% endif %}">
      <div class="cta-description text-white {% if cta.highlighted %}bg-grape{% endif %}">
        <h4 class="text-white"><b>{{ cta.title }}</b></h4>
        <p>{{ cta.leed }}</p>
        <a class="button--transparent" href="/adapt/">
          {{ cta.button }} &#8594;
        </a>
      </div>
      <div class="cta-img" style="background-image:url({{ cta.img }})"  alt="{{ cta.img_alt }}"></div>
    </div>
  {% endfor %}
</div>