<footer class="footer bg-grey-600 text-white">
  <div class="container">
    <div class="acknowledgement">
    
      {% if page.lang == "en" %}
      <img src="../../assets/brand/logo-white.png" />
      <small class="small">
        A joint project between the <a href="https://pfc.ca/">Philanthropic Foundations of Canada</a>, <a href="https://communityfoundations.ca/">Community Foundations of Canada</a>, <a href="https://environmentfunders.ca/">Environment Funders Canada</a>, and <a href="https://www.the-circle.ca/">The Circle on Philanthropy and Aboriginal Peoples in Canada</a>, with technical and design support provided by <a href="https://www.grantbook.org/">Grantbook</a>.
      </small>
      {% else %}
      <img src="../../assets/brand/Logo-FR-white.svg" />
      <small class="small">
        Un projet mené conjointement par <a href="https://pfc.ca/fr/">Fondations philanthropiques Canada</a>, <a href="https://www.communityfoundations.ca/fr/">Fondations communautaires du Canada</a>, <a href="https://environmentfunders.ca/about/en-francais/">Financeurs en environnement au Canada</a> et <a href="https://www.the-circle.ca/">The Circle on Philanthropy and Aboriginal Peoples in Canada</a> avec le soutien technique et l’aide à la conception de <a href="https://www.grantbook.org/">Grantbook</a>.
      </small>
      {% endif %}
    </div>

    <a href="/participate/" class="button--canary">
      {% if page.lang == "en" %}
        Contribute Your Data
        {% else %}
        Fournissez vos données
      {% endif %}
    </a>
  </div>
</footer>