---
layout: default
---

{% include site-header.html %}

<main class="main  container">

  <article class="article article--page content typeset">

    <!-- Hard-Coded Components Before Content -->
    {% if page.lang_ref == "adapt" %}{% include adapt-start.html %}{% endif %}

    {{ content }}

    <!-- Hard-Coded Components After Content -->
    {% if page.lang_ref == "home" %}{% include home-end.html %}{% endif %}
    {% if page.lang_ref == "collaborate" %}{% include collaborate-end.html %}{% endif %}
    {% if page.lang_ref == "adapt" %}{% include adapt-end.html %}{% endif %}
    <!-- {% if page.lang_ref == "participate" %}
      {% if page.lang == "en" %}
        {% include participate-end.html %}
      {% else %}
        {% include participate-end-fr.html %}
      {% endif %}
    {% endif %} -->

  </article>

</main>

{% if page.lang_ref == "home" %}{% include site-cta.html %}{% endif %}

{% include site-footer.html %}
