---
layout: default
---

{% include site-header.html %}

<main class="main  container">

  <article class="article  article--page  content  typeset">

    <!-- Hard-Coded Components Before Content -->
    {% if page.title == "Adapt" %}{% include start-adapt.html %}{% endif %}

    {{ content }}

    <!-- Hard-Coded Components After Content -->
    {% if page.title == "Collaborate" %}{% include end-collaborate.html %}{% endif %}
    {% if page.title == "Adapt" %}{% include end-adapt.html %}{% endif %}
    {% if page.title == "Participate" %}{% include end-participate.html %}{% endif %}

  </article>

</main>

{% if page.cta == true %}{% include site-cta.html %}{% endif %}

{% include site-footer.html %}